# dev dependencies for formatting and linting
black
isort
mypy
autoflake

# dev dependencies for testing
pytest

# dependencies for tools
fsspec
sounddevice

mosaicml-cli
gcsfs
gradio 
gradio_client

gpustat # for monitoring GPU usage: run "gpustat" on the machine
