
transformers[torch]==4.41.2
bitsandbytes==0.42.0
peft==0.11.1
simple_parsing==0.1.5

librosa==0.10.2.post1
requests==2.22.0
datasets==2.19.1
mosaicml-streaming==0.7.6
nltk==3.8.1
truecase==0.0.14
sentencepiece==0.2.0
protobuf==4.25.3


dataclasses-json==0.6.7
openai==1.33.0
jiwer==3.0.4


tensorboardx==2.6.2.2
wandb==0.17.1

