{# This template was used to create the synthetic "explanation" field in `fixie-ai/boolq-audio` -#}
Passage: {{ passage }}

Question: {{ question }}

Answer: {{ answer }}

Provide a short explanation to the question given the passage that provides a rationale for the answer.
